In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [2]:
# conf = SparkConf().setAll([
#     ("spark.executor.memory", "10g"),
#     ("spark.executor.cores", "3"),
#     ("spark.cores.max", "3"), 
#     ("spark.driver.memory", "8g")
# ])
# spark = SparkSession \
#     .builder \
#     .config(conf=conf) \
#     .appName("Wrangling Data with Spark SQL") \
#     .getOrCreate()

spark = SparkSession \
    .builder \
    .appName("Wrangling Data with Spark SQL") \
    .getOrCreate()

In [3]:
path = "data/worldbank-country-profile-small.json"
worldbank_country_profile_df = spark.read.json(path)

In [4]:
worldbank_country_profile_df.createOrReplaceTempView("worldbank_country_profile_df")

In [5]:
spark.sql("select fields.* from worldbank_country_profile_df").show()

+------------+------------+--------------------+--------------------+-------------------+----+
|country_code|country_name|      indicator_code|      indicator_name|              value|year|
+------------+------------+--------------------+--------------------+-------------------+----+
|         BTN|      Bhutan|   GC.XPN.INTP.RV.ZS|Interest payments...|  6.530876741194653|2010|
|         BTN|      Bhutan|      GC.TAX.IMPT.CN|Customs and other...|          6500000.0|1991|
|         BTN|      Bhutan|   GC.LBL.TOTL.GD.ZS|Net incurrence of...|-1.2783041330882963|2012|
|         BTN|      Bhutan|   FM.AST.PRVT.ZG.M3|Claims on private...| 10.318532196834312|2006|
|         BTN|      Bhutan|   FM.AST.PRVT.ZG.M3|Claims on private...|  13.60415345076114|2018|
|         BTN|      Bhutan|      ER.FSH.AQUA.MT|Aquaculture produ...|              139.0|2014|
|         BTN|      Bhutan|   EN.ATM.NOXE.KT.CE|Nitrous oxide emi...|          150.25359|1981|
|         BTN|      Bhutan|   EN.ATM.NOXE.KT.CE|Nitrous oxide emi...|              180.0|2006|
|         BTN|      Bhutan|   DT.ODA.ODAT.PC.ZS|Net ODA received ...|0.04157502744568256|1963|
|         BTN|      Bhutan|   DT.ODA.ODAT.PC.ZS|Net ODA received ...|  90.46737990890576|2001|
|         BTN|      Bhutan|   DT.ODA.ODAT.PC.ZS|Net ODA received ...| 133.64748384607034|2015|
|         BTN|      Bhutan|      DC.DAC.KORL.CD|Net bilateral aid...|   529999.971389771|2018|
|         BTN|      Bhutan|BX.KLT.DINV.WD.GD.ZS|Foreign direct in...| 0.6997454683182075|2006|
|         BTN|      Bhutan|BX.KLT.DINV.WD.GD.ZS|Foreign direct in...| 1.2340750417274855|2014|
+------------+------------+--------------------+--------------------+-------------------+----+

In [7]:
spark.sql("select fields.* from worldbank_country_profile_df") \
    .write \
    .mode("overwrite") \
    .parquet("data/worldbank.parquet")

In [8]:
path = "data/GlobalLandTemperaturesByCity.csv"
global_land_temperature_df = spark.read \
    .option("header", True) \
    .csv(path)

In [9]:
global_land_temperature_df.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [10]:
global_land_temperature_df.createOrReplaceTempView("global_land_temperature_df")

In [11]:
spark.sql("select * from global_land_temperature_df").show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows